@import url(//fonts.googleapis.com/earlyaccess/jejugothic.css);
body{
	flex : 1;
	margin:0px;
}
.menubar{
	width : 2000px;
	border:0px;
	margin:0px;
	padding:0px;
	font-size:18px;
	font-family: 'Jeju Gothic', sans-serif;
	font-weight:bold;
}
#icon{
	margin-left:50px;
	margin-right:40vw;
}
.menubar ul{
background: rgb(109,109,109);
height:89px;
list-style:none;
margin:0;
padding:0;
}

.menubar li{
float:left;
padding:0px;
}

.menubar li a{
background: rgb(109,109,109);
color:#cccccc;
display:block;
font-weight:normal;
line-height:89px;
margin:0px;
padding:0px 25px;
text-align:center;
text-decoration:none;
}

.menubar li a:hover, .menubar ul li:hover a{
background: rgb(71,71,71);
color:#FFFFFF;
text-decoration:none;
}

.menubar li ul{
background: rgb(109,109,109);
display:none; /* ���ÿ��� ����޴��� �Ⱥ��̰� �ϱ� */
height:auto;
padding:0px;
margin:0px;
border:0px;
position:absolute;
width:200px;
z-index:200;
/*top:1em;
/*left:0;*/
}

.menubar li:hover ul{
display:block; /* ���콺 Ŀ�� �ø��� ����޴� ���̰� �ϱ� */
}

.menubar li li {
background: rgb(109,109,109);
display:block;
float:none;
margin:0px;
padding:0px;
width:200px;
}

.menubar li:hover li a{
background:none;
}

.menubar li ul a{
display:block;
height:52px;
font-size:12px;
font-style:normal;
margin:0px;
padding:0px 0px 0px 15px;
text-align:left;
}

.menubar li ul a:hover, .menubar li ul li:hover a{
background: rgb(71,71,71);
border:0px;
color:#ffffff;
text-decoration:none;
}

.menubar p{
clear:left;
}
