#contents{
	margin:80px;
	width:100%;
	position:relative;
	text-align:center;
}
.cardImage{
	margin:15px;
	margin-bottom:0px;
}
#cardlist{
	display:inline-block;
	text-align:left;
	max-width:1000px;
	margin-right:150px;
}
.card-deck{
	max-width:1200px;
	padding:0px;
}
.card{
	
	border:1px solid blue;
	max-width:300px;
}
.carousel-item {
  height: 65vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}