body{
	display:flex;
	flex-direction:column;
	height:100vh;
}
#contents{
	border:1px solid blue;
	display:inline-block;
	width:2000px;
	height : 1000px;
}
#nav{
	text-align:center;
	float:left;
	width:20%;
	border:1px solid red;
	margin:30px;	
}
#section{
	float:left;
	width:70%;
	margin:30px;
	border:1px solid yellow;
	height : 90%;
}
footer{
	height : 200px;
}